.locations {
    text-align: left;
    height: 100%;
    width: 25%;
    float: left;
    border-right: 1px solid #DDDDDD;

    
}
.amenities {
    text-align: left;
    height: 100%;
    width: 25%;
    float: left;
}

.locations h3, 
.amenities h3 {
    font-weight: 600;
    margin: 0px;
}
.locations h4, 
.amenities h4 {
    font-weight: 400;
    font-size: 14px;        
}
